#container-head {
    overflow: hidden;
    max-height: 100%;
        height: 55dvh;
}
#container-head-logo {
    overflow: hidden;
    height: 60dvh;
}
#container-about {
    height: 70dvh;
}
#casa1, #casa2, #casa3, #recensies {
    height: 50dvh;
}
#carousel1 {
    height: auto;
}
video {
    width: 100%;
    height: auto;
}
footer {
    color: black;
    text-align: center;
    position: relative;
}
#menu {
    overflow:visible;
}
#contact {
    font-size: 15px
}
#photo-overview .img-fluid{
    display: block;
    width: auto;
    height: 600px;
}
#hoverimg:hover {
    opacity: 0.5;
    cursor: pointer;
}
#hoverimg {
    height: 100;
}

#keyholding {
    overflow: auto;
    height: 73dvh;
}
#wie-zijn-wij {
    height: 73dvh;
}
#mike-family{
    max-height: 73dvh;
}
#invest-intro {
    max-height: 73dvh;
    overflow: auto;
}
#invest {
    overflow: auto;
    height: 73dvh;
}
ul {
    text-align: center;
    list-style-position: inside;
}
#list { 
    color: black; 
    background: white; 
    font-size: 30px; 
} 
#arrow{ 
    list-style: none; 
} 

#arrow::before{
    content: "\00BB"; 
}
